<h1>Get To Know Joel</h1>
<a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
<p>This is where Joel performs his comedy routines.</p>
<a href="https://baconsale.com/" target="_blank">Baconsale</a>
<p>Listen to Joel's relevant podcast about films and pop culture on Baconsale</p>
<a href="https://baconsale.com/" target="_blank">
    <img src="~/img/baconsale.jpg" alt="Baconsale"/>
</a>
