@{
    ViewData["Title"] = "Home Page";  <!-- Setting the title of the page that will be shown in the browser's tab -->
}

<div class="text-center">  <!-- A div with class 'text-center' to center-align the content -->
    <h1 class="display-4">The Joel Hilton Film Collection</h1>  <!-- The main heading for the page, displayed as a large title -->
    
    <!-- Image tag displaying an image, with the path to the image file being "~/img/joel_hilton.jpg" -->
    <img src="~/img/joel_hilton.jpg" alt="Joel Hilton" />  <!-- alt attribute added for accessibility -->
    
    <p></p>  <!-- An empty paragraph, potentially for future content -->
</div>